{% extends 'base.html.twig' %}

{% block title %}Freelance!{% endblock %}

{% block body %}
    <main role="main" class="mt-0 pt-5 w-100" style="background: url({{ asset('images/font.jpg') }});height: 900px; background-repeat: no-repeat;background-size: cover;">
        <section class="jumbotron text-center h-100 w-100 d-flex justify-content-center flex-column">
            <div class="container">
                <h1 class="jumbotron-heading text-white font-weight-bold">Nous connectons les entreprises avec les meilleurs experts indépendants</h1>
                <p class="lead font-weight-bold text-white">Nous vous permettons de travailler et contractualiser sereinement avec notre communauté de
                    </br>
                    370 000 experts indépendants et notre réseau de 1 000 PME et Start-Up.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rechercher</font></font></a>
                    <a href="#" class="btn btn-secondary my-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Connecter</font></font></a>
                </p>
            </div>
        </section>
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">Columns with icons</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                    </div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link">
                        Call to action
                        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                </div>
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
                    </div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link">
                        Call to action
                        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                </div>
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                    </div>
                    <h3 class="fs-2">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a href="#" class="icon-link">
                        Call to action
                        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                    </a>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
    </main>
{% endblock %}
