<header class="w-100" id="header-content" style="position: fixed;top: 0;z-index: 99;">
    <nav class="navbar navbar-expand-lg pt-0 pb-0" >
        <div class="container-fluid p-3 text-emphasis-primary mb-0">
            <a class="navbar-brand text-white" href="/">Projet Freelance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/categorie">A PROPOSE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/qui_somme_nous">Qui somme nous</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Freelance
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-dark" href="/devenir-freelance">Devenir freelance</a></li>
                            <li><a class="dropdown-item text-dark" href="#"></a></li>
                            <li><hr class="dropdown-divider text-dark"></li>
                            <li><a class="dropdown-item text-dark" href="#">Catégorie</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex flex-column gap-2" role="search" id="group_form">
                    <div class="d-flex flex-row gap-2" id="group_button">
                        <input class="form-control me-2" type="search" placeholder="Chercher" aria-label="Chercher">
                        <button type="button" class="btn btn-outline-secondary">Chercher</button>
                    </div>
                    <div class="d-flex flex-row gap-2" id="group_button_2">
                        <div>
                            {% if isGranted %}
                                <a href="/profile"><button class="btn btn-primary" type="button">{{ user.username }}</button></a>
                                <a href="/logout"><button type="button" class="btn btn-outline-primary">LogOut</button></a>
                                <a href="/register" style="display: none;"><button type="button" class="btn btn-outline-primary">Inscription</button></a>
                            {% else %}
                                <a href="/login"><button class="btn btn-primary" type="button">Login</button></a>
                                <a href="/register"><button type="button" class="btn btn-outline-primary">Inscription</button></a>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>