<header class="w-100" id="header-content" style="position: fixed;top: 0;z-index: 99;">
    <nav class="navbar navbar-expand-lg pt-0 pb-0" >
        <div class="container-fluid p-3 text-emphasis-primary mb-0">
            <a class="navbar-brand text-white" href="/">Projet Freelance</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/qui_somme_nous">Qui somme nous</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Freelance
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-dark" href="/register/freelance">Devenir freelance</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex flex-column gap-2" id="group_form">
                    <div class="d-flex flex-row gap-2" id="group_button">
                        <input class="form-control me-2" placeholder="Chercher" id="input_rechercher">
                        <button type="button" class="btn btn-outline-secondary" id="button_rechercher" onclick="onclickRechercher()">Chercher</button>
                    </div>
                    <div class="d-flex flex-row gap-2" id="group_button_2">
                        <div>
                            {% if isGranted %}

                                <div class="flex-shrink-0 dropdown" style="min-width: 150px;">
                                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        {% if user %}
                                        <img src="{{ asset( 'avatars/' ~ user.getAvatar()) }}" alt="mdo" width="32" height="32" class="rounded-circle">
                                        {% endif %}
                                    </a>
                                    <ul class="dropdown-menu text-small shadow" style="">
                                        <li><a class="dropdown-item" href="/profile">Profil</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/profile/commandes">Mes Commandes</a></li>
                                        <li><a class="dropdown-item" href="/logout">Se Déconnecter</a></li>
                                    </ul>
                                </div>
                                <a href="/register" style="display: none;"><button type="button" class="btn btn-outline-primary">Inscription</button></a>
                            {% else %}
                                <a href="/login"><button class="btn btn-primary" type="button">Connexion</button></a>
                                <a href="/register"><button type="button" class="btn btn-outline-primary">Inscription</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>